.aboutWrapper{
    font-family: bodoni moda;
    max-width: calc(100% - 284px);
    position: relative;
    // padding: 20px 30px;

    .aboutMainWrapper{
        padding: 20px 30px;
    }

    .aboutCarousel{
        margin-top: 80px;
        // background: white;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .aboutSlide{
            padding:20px;
            background: white;
            width: 32%;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        p{
            margin-top: 10px;
            margin-bottom: 0;
        }
        img{
            width: 60px;
            height: auto;
        }
    }

    .aboutLanding{
        margin-top: 40px;
        display: flex;
        align-items: end;
        justify-content: stretch;
        h1{
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        img{
            width: 40%;
        }
        div{
            padding-left: 30px;

            p{
                font-family: jost;
                font-size: 16px;
            }
        }
    }
    .FaqWrapper{
        padding: 60px 0px 20px;
    }
    .ContactWrapper{
        padding: 60px 30px;
        background-color:#f5f5f5;

        .contactInfoWrapper{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px;

            .contactInfo{
                width: 48%;
                margin-bottom: 30px;
                display: flex;
                justify-content: start;
                align-items: start;
                padding: 20px;
                border-radius: 8px;
                transition: all 0.3s;

                // &:hover{
                //     box-shadow: 0px 0px 8px 0 rgb(0, 0, 0);
                //     background: #f5f5f5;
                // }

                img{
                    width: 50px;
                    height: auto;
                    margin-right: 30px;
                }

                h3{
                    margin-bottom: 10px;
                    margin-top: 0;
                    font-weight: 600;
                }
                p{
                    margin-top: 10px;
                    font-family: jost;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .aboutWrapper{
        font-family: bodoni moda;
        max-width: 100%;
        position: relative;
        // padding: 20px 30px;

        .aboutMainWrapper{
            padding: 20px 15px;
        }
    
        .aboutCarousel{
            margin-top: 40px;
            // background: white;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .aboutSlide{
                width: 100%;
                padding:20px;
                // background: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
            }
            p{
                margin-bottom: 0;
                margin-top: 10px;
            }
            img{
                width: 60px;
                height: auto;
            }
        }
    
        .aboutLanding{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            h1{
                margin-top: 20px;
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 10px;
            }
            img{
                width: 100%;
            }
            div{
                padding-left: 0px;
    
                p{
                    font-family: jost;
                    font-size: 14px;
                }
            }
        }
        .FaqWrapper{
            padding: 60px 0px 0px;
        }
        .ContactWrapper{
            padding: 40px 5px;
            background-color:#f5f5f5;
    
            .contactInfoWrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                padding: 0px;
    
                .contactInfo{
                    width: 100%;
                    margin-bottom: 30px;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    padding: 10px;
                    font-size: 14px;
                    border-radius: 8px;
                    transition: all 0.3s;
    
                    // &:hover{
                    //     box-shadow: 0px 0px 8px 0 rgb(0, 0, 0);
                    //     background: #f5f5f5;
                    // }
    
                    img{
                        width: 30px;
                        height: auto;
                        margin-right: 30px;
                    }
    
                    h3{
                        margin-bottom: 10px;
                        margin-top: 0;
                        font-weight: 600;
                    }
                    p{
                        margin-top: 10px;
                        font-family: jost;
                    }
                }
            }
        }
    }
}